<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>objc temperature converter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E3021851E546A3F0055DEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E30219E1E546A3F0055DEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E3021A91E546A400055DEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
